<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Window>
    <ResizeBorder>6</ResizeBorder>
    <OuterMarginSize>10</OuterMarginSize>
    <WindowRadius>10</WindowRadius>
  </Window>

  <TCPconnection>
    <Host>
      <RemoteIP>127.0.0.1</RemoteIP>
      <RemotePort>13000</RemotePort>
    </Host>
  </TCPconnection>

  <Logfiles>
    <Filename>./../../LogFiles/ClientMessages.log</Filename>
    <DefaultPAth>C:\temp\log.log</DefaultPAth>
  </Logfiles>
</Configuration>